-# %h1 Movie Log
-# %p おすすめの映画を紹介しています
-#
-# - @works.each_with_index do |work, index|
-#   #{index + 1}.
-#   =link_to work.title, work_path(work)
-#   %br
-# %hr
-# =link_to "新しい映画を登録", new_work_path


/ ======= Navbar =======

%main#main
  / ======= Works Section =======
  %section.section.site-portfolio
    .container
      .row.mb-5.align-items-center
        .col-md-12.col-lg-6.mb-4.mb-lg-0{"data-aos" => "fade-up"}
          %h2 List of Films
          %p.mb-0 Let us find your favorite movie!
          .search_form
            = search_form_for @q do |f|
              = f.label :title, "Keyword"
              = f.search_field :title_cont
              = f.submit "search"
        .col-md-12.col-lg-6.text-left.text-lg-right{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          #filters.filters
            %a.active{"data-filter" => "*", :href => "#"} ALL
            %a{"data-filter" => ".web", :href => "#"} ACTION
            %a{"data-filter" => ".design", :href => "#"} ROMANCE
            %a{"data-filter" => ".branding", :href => "#"} DRAMA
            %a{"data-filter" => ".photography", :href => "#"} ANIME
      #portfolio-grid.row.no-gutter{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        -@works.each_with_index do |work, index|
          .item.web.col-sm-6.col-md-4.col-lg-4.mb-4
            -# %a.item-wrap.fancybox{:href => "work-single.html"}
            =link_to work_path(work), class: 'item-wrap fancybox' do
              .work-info
                %h3=work.title
                %span=work.release
              -# %img.img-fluid{:src => "/img/img_1.jpg"}/
              -if work.image.present?
                =image_tag work.image_url(:thumb), class: 'img-fluid'
              -else
                =image_tag '/img/default_image.png',class: 'img-fluid'
            = link_to higher_work_path(work), class: work.first? ? 'disabled' : '' do
              %i.fa.fa-arrow-up
      =paginate @works
      -if user_signed_in?
        =link_to new_login_work_path do
          %button.btn.btn-outline-info{:type => "button"} Add new movie
      -# =link_to "新しい映画を登録", new_work_path
