-# Movie Title：#{@work.title}
-# %br
-# Release Date：#{@work.release}
-# %br
-# Starring：#{@work.starring}
-# %br
-# Director :
-# =link_to @work.director.name, director_path(@work.director)
-# -# - director = Director.find(@work.director_id)
-# -# Director :#{director.name}
-# %br
-#
-# -# - exit
-# - if @work.director.works.length > 1
-#   [Related Works]
-#   %br
-#   - index = 0
-#   - @work.director.works.each do |work|
-#     -if @work != work
-#       #{index + 1}.
-#       =link_to "#{work.title} (#{work.release})", work_path(work)
-#       %br
-#
-# Description :#{@work.explanation}
-# %hr
-# =link_to "一覧に戻る", works_path
-# %br
-# =link_to "登録内容を編集する", edit_work_path(@work)
-# %br
-# =link_to "削除する", work_path(@work), method: :delete, data: {confirm: "削除しますか？"}


%main#main
  %section.section
    .container
      .row.mb-4.align-items-center
        .col-md-6{"data-aos" => "fade-up"}
          %h2=@work.title
          %p=@work.release
      .container
        .row.align-items-stretch
          .col-md-8{"data-aos" => "fade-up"}
            %img.img-fluid{:alt => "Image", :src => "/img/img_1_big.jpg"}/
          .col-md-3.ml-auto{"data-aos" => "fade-up", "data-aos-delay" => "100"}
            .sticky-content
              %h3.h3
                =link_to @work.director.name, director_path(@work.director)
              %p.mb-4
                %span.text-muted=@work.director.country
              %p.mb-4
                %span.text-muted=@work.starring
              .mb-5
                %p
                  =@work.explanation
              %h4.h4.mb-3 RELATED WORKS
              %ul.list-unstyled.list-line.mb-5
                - @work.director.works.each do |work|
                  -if @work != work
                    %li
                      =link_to "#{work.title} (#{work.release})", work_path(work)
              -# %p
              -#   %a.readmore{:href => "#"} Visit Website
      / ======= Testimonials Section =======
      -# %section.section.pt-0
      -#   .container
      -#     .owl-carousel.testimonial-carousel
      -#       .testimonial-wrap
      -#         .testimonial
      -#           %img.img-fluid{:alt => "Image", :src => "/img/person_1.jpg"}/
      -#           %blockquote
      -#             %p
      -#               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
      -#               explicabo inventore.
      -#           %p — Jean Hicks
      -#       .testimonial-wrap
      -#         .testimonial
      -#           %img.img-fluid{:alt => "Image", :src => "/img/person_2.jpg"}/
      -#           %blockquote
      -#             %p
      -#               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
      -#               explicabo inventore.
      -#           %p — Chris Stanworth
      -# / End Testimonials Section
      -# / End #main
