Movie Title：#{@work.title}
%br
Release Date：#{@work.release}
%br
Starring：#{@work.starring}
%br
Director :
=link_to @work.director.name, director_path(@work.director)
-# - director = Director.find(@work.director_id)
-# Director :#{director.name}
%br

-# - exit
- if @work.director.works.length > 1
  [Related Works]
  %br
  - index = 0
  - @work.director.works.each do |work|
    -if @work != work
      #{index + 1}.
      =link_to "#{work.title} (#{work.release})", work_path(work)
      %br

Description :#{@work.explanation}
%hr
=link_to "一覧に戻る", works_path
%br
=link_to "登録内容を編集する", edit_work_path(@work)
%br
=link_to "削除する", work_path(@work), method: :delete, data: {confirm: "削除しますか？"}
