!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Movielog
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    = csrf_meta_tags
    = csp_meta_tag
    / Favicons
    %link{:href => "/img/favicon.png", :rel => "icon"}/
    %link{:href => "/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "header"
    -if notice.present?
      .container
        %p.notice.alert.alert-success{:role => "alert"}
          =notice
    -if alert.present?
      .container
        %p.alert.alert-danger{:role => "alert"}
          =alert
    -# = notice if notice
    -# -if notice
    -#   = notice
    = yield
    = render "footer"
    = javascript_include_tag "application"
